<div class="shortSplash text-dark p-3 m-2 rounded flex-column align-items-center" data-title="{{done.title}}" data-content="{{done.content}}" data-image="{{done.image}}">
    <h6>{{done.title}}</h6>
    <div class="imgPlaceHolder text-light">
        <img src="/images/pre_db/{{done.image}}">
    </div>
</div>

