<div class="nav d-flex flex-row bg-light p-2 ps-3 pe-3">
    {{!-- add href later --}}
    <a class="bucket p-1 rounded text-dark" href="#">BUCKET</a>
    {{!-- add href later --}}
    <a id="logout" class="logout text-dark ms-auto" href="#">LOGOUT</a>
</div>
<div class="d-flex flex-row">
    <div class="aside bg-light p-4">
        {{#if logged_in}}
        <h5><u>DROPS:</u></h5>
        <ol id="dropList">
            {{#each user.todos as |todo|}}
            {{!-- {{log 'todo' todo}} --}}
            {{!--  --}}
            {{!-- <a href=""  --}}
            {{!-- <span class="makeSplash text-dark" data-id="{{todo.id}}" onclick="removeDropBtnFn({{todo.id}}); toggleFn('{{todo.title}}', {{todo.user_id}})">  --}}
                {{!-- ;return false --}}
                <li class="makeSplash text-dark" data-id="{{todo.id}}" data-title="{{todo.title}}" data-user_id="{{todo.user_id}}">{{todo.title}}</li>
            {{!-- </span> --}}
            {{/each}}
        </ol>
         {{log user.dones.[0] 'user'}}
        <h5 class="pt-5"><u>SPLASHES:</u></h5>
        <ol id='splashTitleList'>
            {{#each user.dones as |done|}}
           
            <a href="">
                <li class="splashTitle" data-id ={{done.id}} data-title="{{done.title}}" data-content="{{done.content}}" data-image="{{done.image}}"  style="text-decoration:line-through">{{done.title}}</li>
            </a>
            {{/each}}
        </ol>
        {{/if}}
    </div>
    <div id="mainWrap" class="section bg-light p-3">

        <div id="newDrop_form" class="new flex-row m-10 p-3 h-15 rounded">
            <input type="text" class="dropItem form-control mt-10 me-3" placeholder="Add to your Bucket" aria-label="Add to your Bucket">
            <button class="drop bg-dark rounded text-light">DROP</button>
        </div>

        <div id="newSplash_form" class="new flex-column m-10 p-3 rounded">
            <h5><u>What do you want to add to your SPLASHED DROP?</u></h5><br>
            <p id="title">
                
            </p>
            <textarea id="content"></textarea>

            {{!-- Upload photo form start --}}
            <form action="api/splashes/pics" method="POST" encType="multipart/form-data">
            {{!-- <form> --}}
            <p>Upload Photo!</p>
            <input id="upLoadInput" type="file" name="splashPic" accept="image/*" class="bg-dark text-light"/>
            <input id="upLoadSubBtn" type="submit" value='Upload!' class="upLoadSubBtn bg-dark text-light">
            </form>

            <button class="newSplash join ms-auto bg-dark text-light m-15">
               SPLASH
            </button>
           
        </div>
       
        <div id='bigSplash'class="container mt-4 border">
            <div class="d-flex flex-row m-3">
                <img id="bigSplashImage" class="" src="" alt="">
                <section id="bigSplashMain" class="d-flex flex-column p-3">
                    <h2 id="bigSplashTitle">test</h2>
                    <br>
                    <h4><u>Description</u></h4>
                    <p id="bigSplashText"></p>
               </section>
            </div>
        </div>


        {{#each (limitSplashes user.dones 3) as |done|}}
           
            {{> short-splashes done=done}}
        
        {{/each}}
    </div>
</div>
<script src="/js/bucket.js"></script>
<script src="/js/logOut.js"></script>